.login-root {
  display: flex;
  min-height: 100vh;
  justify-content: flex-end;
  align-items: center;
  min-width: 100vw;
  background-image: url("@/assets/images/icons/login-background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;

  > section {
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background: rgb(255 255 255 / 80%);
    backdrop-filter: blur(30px);
    z-index: 100;

    header {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 16vh;

      img {
        width: 206px;
        height: 185px;
      }
    }

    > section {
      margin-top: 102px;
      width: 360px;

      .email {
        font-size: 18px;
        font-weight: bold;
        line-height: 18px;
        letter-spacing: 0;
        color: #000;
      }
    }
  }
}
