/* stylelint-disable selector-pseudo-class-no-unknown */
.close-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.drawer-content {
  display: flex;
  height: 100%;

  .img-box {
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      height: calc(100vh - 264px);
    }
  }

  .detail-box {
    position: relative;
    width: 344px;
    padding: 32px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 101 255 / 10%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    .user-info {
      display: flex;
      align-items: center;

      .user-name {
        padding-left: 8px;
        font-size: 14px;
        color: rgb(0 0 0 / 50%);
      }
    }

    .resource-name {
      font-size: 30px;
      padding-top: 15px;
    }

    .tag-box {
      padding: 24px 0 30px;

      :global {
        .ant-tag {
          margin: 0;
          margin-right: 4px;
        }
      }
    }

    .update-time,
    .resource-description {
      font-size: 14px;
      color: rgb(0 0 0 / 50%);
    }

    .download-btn {
      position: absolute;
      width: 280px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 32px;
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
:global {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      .ant-drawer-wrapper-body {
        .ant-drawer-body {
          padding: 48px;
        }
      }
    }
  }
}
