.common-modal {
  max-width: calc(100vw) !important;
  padding: 0;

  .ant-modal-content {
    box-shadow: none;

    .ant-modal-body {
      padding: 0;

      .content-box {
        padding: 24px;
        height: calc(100vh - 64px);
        background-color: #fff;
        overflow-y: auto;
        overflow-x: hidden;

        .modal-close {
          position: absolute;
          right: 24px;
          top: 24px;
          cursor: pointer;

          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}
