@import "../assets/style/theme.less";

.user-layout-root {
  display: flex;
  width: 100%;
  min-width: 1240px;
  flex-direction: column;

  .head-box {
    display: flex;
    justify-content: space-between;
  }

  .body-box {
    display: flex;

    .menu {
      display: flex;
      flex-direction: column;
      width: 200px;
      border: 1px #eee solid;
      min-height: 100vh;
    }
  }
}
